#app {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: ;
}
h1 {
  grid-column: 2;
  text-align: center;
  font-size: 50px;
  font-style: italic;
  color: rgb(255, 0, 128);
}

button {
  grid-column: 2;
  width: 50px;
  display: flex;
  justify-self: center;
  font-size: 15px;
  font-style: italic;
}

/* message */
#message {
  grid-column: 2;
  font-size: 25px;
  font-style: italic;
  text-align: center;
}

/*
TABLE STYLING
*/
table {
  grid-column: 2;
  margin: 5px auto;
  padding: 50px;
  border-radius: 25%;
  background-color: pink;
}

td {
  width: 100px;
  height: 100px;
  font-size: 50px;
  font-style: italic;
  color: rgb(255, 0, 128);
  text-align: center;
}

td:hover {
  background-color: rgba(248, 203, 210, 0.733);
}

.v {
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.h {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.c1 {
  border-radius: 50% 0 0 0
}

.c2 {
  border-radius:  0 50% 0 0
}

.c3 {
  border-radius: 0 0 0 50%
}

.c4 {
  border-radius: 0 0 50% 0
}

